body {
    background-color: black;
  }
p{
    color: wheat;
    font-family: lemon milk;
    line-height: 20px;
}
.level{
    font-size: 48px;
    font-weight: 650;
    margin-bottom: 50px;
    text-align: center;
}
.question{
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
}
.content{
    font-size: 15px;
    font-weight: 300;
}
input{
    margin-bottom: 10px;
}
button{
    display: block;
    margin-bottom: 30px;
    background-color:wheat;
    color: #0f111d;
    height: 28px;
    width: 65px;
    font-weight: bold;
  }
  button:hover{
    background-color: #0f111d;
    color: wheat;
  }
  .btn{
    display: flex;
    justify-content: flex-start;
  }
.all{
    margin: 50px 100px 50px 100px;
    background-color: rgb(68, 67, 67);
    border-radius: 20px;
    padding: 10px;
}