body {
    background-image: url("http://getwallpapers.com/wallpaper/full/c/8/c/1126972-cool-black-background-designs-2560x1600-for-hd.jpg");
    text-align: center;
    display: inline-block;
  }
p{
    color: #DFCDC3; 
    font-family: lemon milk;
    line-height: 20px;
    text-align: left;
}
.level{
    font-size: 48px;
    font-weight: 650;
    margin-bottom: 50px;
    text-align: center;
}
.question{
    margin-top: 40px;
    margin-bottom: 0;
    text-align: center;
    border: 3px solid black; 
    display: inline-block;
    font-size: 27px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fec195;
    /* background-color: wheat; */
    font-family: lemon milk;
    width: 200px;
    
}
.content{
    font-size: 15px;
    font-weight: 300;
}
input{
    margin-bottom: 10px;
    height: 25px;
    width: 200px;
    font-size: 18px;
    padding-left: 6px;
    
}
button{
    position: relative;
    background: #fec195;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: #181818;
    border: 3px solid #fec195;
    border-radius: 3px;
    box-shadow: 0 0 0 #fec1958c;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-bottom: 30px;
    height: 35px;
    width: 70px;
    
  }
  button:hover{
    background-color: #0f111d;
    color: wheat;
  }
  .btn{
    display: flex;
    justify-content: center;
  }
.all{
    margin: 50px 50px 50px 50px;
    background-color: black;
    border-radius: 20px;
    padding: 20px;
    opacity: 0.5;
    
}
.story{
    text-align: center;
    font-size: 27px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fec195;
    font-family: lemon milk;
    width: 200px;
    display: inline-block;
}
.line{
    font-weight: 300;
    color: #DFCDC3;
    /* color: #fec195; */
    /* color: #8E8B82; */
}
.next{
    width:100px ;
    font-weight: bold;
    background-color: #0f111d;
    color: wheat;
    border: 3px solid wheat;
}
.next:hover{
    color: #0f111d;
    background-color: wheat;
    border: 3px solid #0f111d;
}