body {
    background-image: url("http://getwallpapers.com/wallpaper/full/c/8/c/1126972-cool-black-background-designs-2560x1600-for-hd.jpg");
    text-align: center;
    display: inline-block;
  }
p{
    color: #f9dbcc;  
    font-family: lemon milk;
    line-height: 20px;
    text-align: left;
}
.level{
    font-size: 48px;
    font-weight: 650;
    margin-bottom: 50px;
    text-align: center;
}
.question{
    margin-top: 40px;
    margin-bottom: 0;
    text-align: center; 
    display: inline-block;
    font-size: 27px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fcb17c;
    font-family: lemon milk;
    width: 200px;
    
}
.content{
    font-weight: 300;
    color: #f9dbcc;
    font-size: 17px;
}
input{
    margin-bottom: 20px;
    height: 25px;
    width: 200px;
    font-size: 18px;
    padding-left: 6px;
    
}
button{
    position: relative;
    background: #fcb17c;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    color: #181818;
    border: 3px solid #fcb17c;
    border-radius: 3px;
    box-shadow: 0 0 0 #fec1958c;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-bottom: 30px;
    height: 35px;
    width: 80px;
    
  }
  button:hover{
    background-color: #0f111d;
    color: #fcb17c;
  }
  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.all{
    margin: 50px 50px 30px 50px;
    background-color: rgb(15, 14, 14);
    border-radius: 20px;
    padding: 20px;
    opacity: 0.4;
    
}
.story{
    text-align: center;
    font-size: 27px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fcb17c;
    font-family: lemon milk;
    width: 200px;
    display: inline-block;
}
.line{
    font-weight: 300;
    color: #f9dbcc;
    font-size: 17px;
}
.next{
    width:100px ;
    font-weight: bold;
    background-color: #0f111d;
    color: wheat;
    border: 3px solid wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.next:hover{
    color: #0f111d;
    background-color: wheat;
    border: 3px solid #0f111d;
}
.nextbutton{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    
}